<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ADD GARMENTS</title>
  </head>
  <body>
    <br /><br />
    <form action="/garments" method="POST">
      <label for="name">Nama</label>
      <input type="text" name="name" />
      <label for="location">location</label>
      <input type="text" name="location" />
      <label for="contact">contact</label>
      <input type="text" name="contact" />
      <button type="submit">Submit</button>
    </form>

    <br /><br /><a href="/garments">List Garments</a>
  </body>
</html>
